<div class="post" data-title="{{title}}" data-score = {{score}}>
   <div class="post-contents">
	 <div class ="post-title-container">{{title}}</div>
     <a class="post-image-container" href = "localhost:3000/p/{{title}}" target = "_blank">
       <img src="{{photoURL}}" alt="{{description}}">
     </a>
     <div class="post-info-container">
		<div class = "post-score">{{score}}</div>
		</div>
		<a href="#" class="post-description">{{description}}</a>
     </div>
 </div>